.markdown-wrapper textarea
    width: 100%
    resize: vertical
    box-sizing: border-box
    margin-top: 1.3em
    padding: .8em
    border: 2px solid darken($grey, 25%)
    box-shadow: 0 3px 3px rgba(0,0,0, .3)
    font-size: .95em
