@import url('https://fonts.googleapis.com/css?family=Roboto')

//VARIABLES
$grey: #afafaf
$black: #1b1b1c
$bg: #2B3A42
$shadow: 0 3px 3px rgba(0,0,0, .3)

body
    font-family: 'Roboto', sans-serif
    background: $bg
    
//COMPONENTS
@import './components/app'
@import './components/header'
@import './components/markdown'
@import './components/preview'
